@use '../abstracts/' as u;

.quiz-section {
    position: relative;
    left: 0%;
    flex: 0 0 100%;
    @include u.center-items;
    overflow-y: auto;
    background-color: var(--secondary);
    transition: var(--transition-x-long);
    transition-timing-function: ease-in-out;
    transition-delay: .25s;
    z-index: 30;

    &--active {
        left: -100%;
    }
}