:root {
  --primary: #c40094;
  --primary-variant: #950170;
  --secondary: #09001d;
  --tertiary: white;
  --text: white;
  --true: #00a63d;
  --false: #a60045;
  --gradient-1: linear-gradient(45deg, transparent, #c40094, transparent);
  --gradient-2: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, .1) 0deg);
  --ff-poppins-sans: "Poppins", sans-serif;
  --weight-regular: 400;
  --weight-thick: 500;
  --weight-semiBold: 600;
  --weight-barelyBold: 700;
  --radius-6: 0.375rem;
  --radius-16: 1rem;
  --radius-28: 1.75rem;
  --radius-pill: 9999px;
  --radius-circle: 50%;
  --transition-short: 100ms ease;
  --transition-medium: 300ms ease;
  --transition-long: 500ms ease;
  --transition-x-long: 800ms ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

input,
button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  background-color: black;
  overflow: hidden;
}

:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

::selection {
  background-color: var(--primary-variant);
}

html {
  font-family: var(--ff-poppins-sans);
}

body {
  color: white;
}

.popup-info {
  width: 100vw;
  height: 100svh;
  padding: 1.5625em;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(0.9);
  background: var(--tertiary);
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  overflow-y: auto;
  transition: var(--transition-medium);
}
@media (min-width: 36em) {
  .popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: fit-content;
    width: 31.25em;
    border-radius: var(--radius-6);
  }
}
.popup-info--active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
@media (min-width: 36em) {
  .popup-info--active {
    transform: translate(-50%, -50%) scale(1);
  }
}
.popup-info__title {
  font-size: clamp(1.5625rem, 10vw, 3.125rem);
  color: var(--primary);
}
.popup-info__items-list {
  width: 100%;
  margin-block: clamp(0.9375em, 8svh, 1.5625em);
  padding-inline: 0.625em;
}
.popup-info__item {
  list-style: decimal;
  color: #333;
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: var(--weight-thick);
  margin-block: min(0.625em, 2svh);
}
.popup-info__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid #999;
  padding-block-start: 0.9375em;
}
.popup-info__btn {
  width: 5.625em;
  height: 2.5em;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: var(--radius-6);
  font-size: 1rem;
  color: var(--text);
  font-weight: var(--weight-semiBold);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.popup-info__exit-btn {
  background-color: transparent;
  color: var(--primary);
}
.popup-info__exit-btn:hover {
  background-color: var(--primary);
  color: var(--text);
}
.popup-info__continue-btn:hover {
  background-color: var(primary-variant);
  border-color: var(primary-variant);
}

.quiz-box {
  width: 100%;
  max-width: 31.25em;
  padding: clamp(0.9375em, 4vw, 1.875em);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: var(--transition-short);
}
@media (min-width: 36em) {
  .quiz-box {
    border: 2px solid var(--primary);
    border-radius: var(--radius-6);
  }
}
.quiz-box--active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: transform 1s ease 1s, opacity 1s ease 1s;
}
.quiz-box__title {
  font-size: clamp(1.5625rem, 10vw, 2.5rem);
  text-align: center;
  background-image: linear-gradient(45deg, transparent, var(--primary), transparent);
}
.quiz-box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: clamp(0.625em, 5svh, 1.25em);
  border-block-end: 2px solid var(--primary);
  font-size: clamp(0.9375rem, 6vw, 1.0625rem);
  font-weight: var(--weight-thick);
}
.quiz-box__body {
  margin-block: clamp(1.25em, 5svh, 1.875em);
}
.quiz-box__score {
  background-color: var(--primary);
  border-radius: 0.1875rem;
  padding: clamp(0.25em, 2vw, 0.4375em);
}
.quiz-box__question {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  margin-block-end: clamp(0.625em, 3.5svh, 1em);
  font-weight: var(--weight-semiBold);
}
.quiz-box__option {
  width: 100%;
  margin-block-end: 0.9375em;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  font-size: clamp(0.875rem, 5vw, 1.0625rem);
  transition: var(--transition-medium);
}
.quiz-box__option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
.quiz-box__option--correct {
  background-color: var(--secondary);
  color: var(--true);
  border-color: var(--true);
}
.quiz-box__option--incorrect {
  background-color: var(--secondary);
  color: var(--false);
  border-color: var(--false);
}
.quiz-box__option--disabled {
  pointer-events: none;
}
.quiz-box__option-btn {
  width: 100%;
  height: 100%;
  padding-block: 0.75em;
  padding-inline: clamp(0.375em, 4vw, 0.75em);
  text-align: left;
}
.quiz-box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625em;
  padding-block-start: clamp(0.625em, 5svh, 1.25em);
  border-block-start: 2px solid var(--primary);
  font-size: clamp(0.9375rem, 6vw, 1.0625rem);
  font-weight: var(--weight-semiBold);
}
.quiz-box__next-btn {
  width: 6.25em;
  height: 2.8125em;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-6);
  color: rgba(255, 255, 255, 0.3);
  font-size: inherit;
  font-weight: inherit;
  pointer-events: none;
  transition: var(--transition-long);
}
.quiz-box__next-btn--active {
  pointer-events: auto;
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}
.quiz-box__next-btn--active:hover {
  background-color: var(--primary-variant);
  border-color: var(--primary-variant);
}

.result-box {
  position: absolute;
  top: 0;
  transform: scale(0.9);
  width: 100%;
  max-width: 31.25em;
  min-height: 100%;
  padding: clamp(0.9375em, 4vw, 1.875em);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-long);
}
@media (min-width: 36em) {
  .result-box {
    min-height: initial;
    top: initial;
    border: 2px solid var(--primary);
    border-radius: var(--radius-6);
  }
}
.result-box--active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.result-box__title {
  font-size: clamp(1.875rem, 10vw, 3.125rem);
}
.result-box__progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 1.25em;
  margin-block-end: 2.5em;
}
.result-box__progress-circle {
  display: grid;
  place-items: center;
  position: relative;
  max-width: 15.625em;
  width: 70%;
  aspect-ratio: 1;
  background-image: conic-gradient(var(--primary) 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: var(--radius-circle);
}
.result-box__progress-circle::before {
  content: "";
  position: absolute;
  width: 88%;
  aspect-ratio: 1;
  background-color: var(--secondary);
  border-radius: var(--radius-circle);
}
.result-box__progress-value {
  position: relative;
  font-size: clamp(1.25rem, 18vw, 3.125rem);
  font-weight: var(--weight-semiBold);
}
.result-box__score {
  font-size: clamp(1.125rem, 8vw, 1.75rem);
  font-weight: var(--weight-semiBold);
  margin-block-start: 1.25em;
}
.result-box__actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.result-box__btn {
  width: 8.125em;
  height: 2.9375em;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: var(--radius-6);
  font-size: clamp(0.875rem, 4vw, 1rem);
  color: var(--text);
  font-weight: var(--weight-semiBold);
  transition: var(--transition-long);
}
.result-box__tryAgain-btn:hover {
  background-color: var(--primary-variant);
  border-color: rgba(149, 1, 112, 0.5803921569);
}
.result-box__goHome-btn {
  background-color: transparent;
  color: var(--primary);
}
.result-box__goHome-btn:hover {
  background-color: var(--primary);
  color: var(--text);
}

.container {
  display: flex;
  height: 100svh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 0.9375em;
  padding-inline: 10vw;
  background-color: transparent;
  z-index: 10;
}

.logo {
  width: fit-content;
  font-size: clamp(1.5625rem, 10vw, 2rem);
  color: var(--text);
  font-weight: var(--weight-barelyBold);
  filter: drop-shadow(0 0 5px #09001d);
}

.landing {
  height: 100svh;
  flex: 0 0 100%;
  display: grid;
  place-items: center;
  background: url("../../assets/images/background.jpg") no-repeat center/cover;
  transition: var(--transition-medium);
  filter: blur(15px);
  pointer-events: none;
}
.landing--active {
  filter: blur(0);
  pointer-events: auto;
}

.landing-content {
  max-width: 37.5em;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-content__title {
  font-size: clamp(1.5625rem, 10vw, 4.6875rem);
  font-weight: var(--weight-barelyBold);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.landing-content__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(0.875rem, 4vw, 1.125rem);
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-block: clamp(0.75em, 1.5vw, 1.25em);
}
.landing-content__start-btn {
  width: 60vw;
  height: 12svh;
  max-width: 11.25em;
  max-height: 3.125em;
  background-color: var(--primary);
  border: 2px solid var(--tertiary);
  border-radius: var(--radius-6);
  box-shadow: 0 0 10px var(--primary);
  font-size: clamp(0.875rem, 4vw, 1.125rem);
  font-weight: var(--weight-semiBold);
  color: var(--white);
  letter-spacing: 1px;
  transition: background-color var(--transition-long), background-color var(--transition-long);
}
.landing-content__start-btn:hover {
  background-color: #09001d;
  box-shadow: none;
}

.quiz-section {
  position: relative;
  left: 0%;
  flex: 0 0 100%;
  display: grid;
  place-items: center;
  overflow-y: auto;
  background-color: var(--secondary);
  transition: var(--transition-x-long);
  transition-timing-function: ease-in-out;
  transition-delay: 0.25s;
  z-index: 30;
}
.quiz-section--active {
  left: -100%;
}

/*# sourceMappingURL=style.css.map */
