@use '../abstracts/' as u;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: u.em(15);
    padding-inline: 10vw;
    background-color: transparent;
    z-index: 10;
}

.logo {
    width: fit-content;
    font-size: clamp(u.rem(25), 10vw, u.rem(32));;
    color: var(--text);
    font-weight: var(--weight-barelyBold);
    filter: drop-shadow(0 0 5px #09001d);
}