.main {
    min-height: 100vh;
    background-image: url('../images/background.jpg'); // relative to css file
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}