@use '../abstracts/' as u;

.popup-info {
    width: 100vw;
    height: 100svh;
    padding: u.em(25);
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(.9);
    background: var(--tertiary);
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    overflow-y: auto;
    transition: var(--transition-medium);

    @include u.media(phone) {
        @include u.center-abs;
        display: block;
        height: fit-content;
        width: u.em(500);
        border-radius: var(--radius-6);
    }

    &--active {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);

        @include u.media(phone) {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__title {
        font-size: clamp(u.rem(25), 10vw, u.rem(50));
        color: var(--primary);
    }

    &__items-list {  
        width: 100%;
        margin-block: clamp(u.em(15), 8svh , u.em(25));
        padding-inline: u.em(10);
    }

    &__item {
        list-style: decimal;
        color: #333;
        font-size: clamp(u.rem(14), 4vw, u.rem(16));
        font-weight: var(--weight-thick);
        margin-block: min(u.em(10), 2svh);
    }

    &__actions {
        width: 100%;
        @include u.flex-between;
        border-block-start: 1px solid #999;
        padding-block-start: u.em(15);
    }

    &__btn {
        width: u.em(90);
        height: u.em(40);
        background-color: var(--primary);
        border: 2px solid var(--primary);
        border-radius: var(--radius-6);
        font-size: u.rem(16);
        color: var(--text);
        font-weight: var(--weight-semiBold);
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        transition: .5s;
    }
    
    &__exit-btn {
        background-color: transparent;
        color: var(--primary);
    }
    
    &__exit-btn:hover {
        background-color: var(--primary);
        color: var(--text);
    }
    
    &__continue-btn:hover {
        background-color: var(primary-variant);
        border-color: var(primary-variant);
    }
}