@use '../abstracts/' as u;

.quiz-box {
    width: 100%;
    max-width: u.em(500);
    padding: clamp(u.em(15), 4vw, u.em(30));
    display: flex;
    flex-direction: column;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: var(--transition-short);

    @include u.media(phone) {
        border: 2px solid var(--primary);
        border-radius: var(--radius-6);
    }

    &--active {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
        transition: transform 1s ease 1s, opacity 1s ease 1s;
    }

    &__title {
        font-size: clamp(u.rem(25), 10vw, u.rem(40));
        text-align: center;
        background-image: 
            linear-gradient(45deg, transparent, var(--primary), transparent);
    }

    &__header {
        @include u.flex-between;
        padding-block: clamp(u.em(10), 5svh, u.em(20));
        border-block-end: 2px solid var(--primary);
        font-size: clamp(u.rem(15), 6vw, u.rem(17));
        font-weight: var(--weight-thick);
    }

    &__body {
        margin-block: clamp(u.em(20), 5svh , u.em(30));
    }

    &__score {
        background-color: var(--primary);
        border-radius: u.rem(3);
        padding: clamp(u.em(4), 2vw, u.em(7));
    }

    &__question {
        font-size: clamp(u.rem(20), 5vw, u.rem(24));
        margin-block-end: clamp(u.em(10), 3.5svh, u.em(16));
        font-weight: var(--weight-semiBold);
    }

    &__option {
        width: 100%;
        margin-block-end: u.em(15);
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, .3);
        border-radius: u.rem(4);
        font-size: clamp(u.rem(14), 5vw, u.rem(17));
        transition: var(--transition-medium);

        &:hover {
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        &--correct {
            background-color: var(--secondary);
            color: var(--true);
            border-color: var(--true);
        }

        &--incorrect {
            background-color: var(--secondary);
            color: var(--false);
            border-color: var(--false);
        }

        &--disabled {
            pointer-events: none;
        }
    }

    &__option-btn {
        width: 100%;
        height: 100%;
        padding-block: u.em(12);
        padding-inline: clamp(u.em(6), 4vw, u.em(12));
        text-align: left;
    }

    &__footer {
        @include u.flex-between;
        gap: u.em(10);
        padding-block-start: clamp(u.em(10), 5svh, u.em(20));
        border-block-start: 2px solid var(--primary);
        font-size: clamp(u.rem(15), 6vw, u.rem(17));
        font-weight: var(--weight-semiBold);
    }

    &__next-btn {
        width: u.em(100);
        height: u.em(45);
        background-color: rgba(0, 0, 0, .1);
        border: 2px solid rgba(255, 255, 255, .1);
        border-radius: var(--radius-6);
        color: rgba(255, 255, 255, .3);
        font-size: inherit;
        font-weight: inherit;
        pointer-events: none;
        transition: var(--transition-long);

        &--active {
            pointer-events: auto;
            background-color: var(--primary);
            border-color: var(--primary);
            color: white;

            &:hover {
                background-color: var(--primary-variant);
                border-color: var(--primary-variant);
            }
            
        }
    }
}