@use '../abstracts/' as u;

:root {
    // -> Layout Colors
    --primary: #c40094; 
    --primary-variant: #950170;
    --secondary: #09001d;
    --tertiary: white;
    --text: white;
    --true: #00a63d;
    --false: #a60045;

    // -> Gradient Colors
    --gradient-1: linear-gradient(45deg, transparent, #c40094, transparent);
    --gradient-2: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, .1) 0deg);


    // -> Typography
    --ff-poppins-sans: 'Poppins', sans-serif;

    --weight-regular: 400;
    --weight-thick: 500;
    --weight-semiBold: 600;
    --weight-barelyBold: 700;


    // -> Border Radius
    --radius-6: 0.375rem;
    --radius-16: 1rem;
    --radius-28: 1.75rem;
    --radius-pill: 9999px;
    --radius-circle: 50%;

    
    // -> Transition
    --transition-short: 100ms ease;
    --transition-medium: 300ms ease;
    --transition-long: 500ms ease;
    --transition-x-long: 800ms ease;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

li { list-style: none; }

a,
img,
span,
input,
button { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

input,
button {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
}

button { 
    cursor: pointer;
    font-size: inherit; 
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    overflow: hidden;
}

:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}

::selection {
    background-color: var(--primary-variant);
}