@use 'sass:map';
@use './variables' as vars;
@use './functions' as funs;

@mixin media($screen) {
    @if map.has-key(vars.$breakpoints, $screen) {
        @media (min-width: funs.get-breakpoint($screen)) {
            @content;
        }
    } @else {
        @warn "Breakpoint '#{$screen}' not found in \$breakpoints map.";
    }
}

@mixin center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-items {
    display: grid;
    place-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}